@font-face {
  font-family: "pretendard";
  font-weight: 200;
  src: url(/font/Pretendard/Pretendard-ExtraLight.woff2);
}

@font-face {
  font-family: "pretendard";
  font-weight: 300;
  src: url(/font/Pretendard/Pretendard-Light.woff2);
}

@font-face {
  font-family: "pretendard";
  font-weight: 400;
  src: url(/font/Pretendard/Pretendard-Regular.woff2);
}

@font-face {
  font-family: "pretendard";
  font-weight: 500;
  src: url(/font/Pretendard/Pretendard-Medium.woff2);
}

@font-face {
  font-family: "pretendard";
  font-weight: 600;
  src: url(/font/Pretendard/Pretendard-SemiBold.woff2);
}

@font-face {
  font-family: "pretendard";
  font-weight: 700;
  src: url(/font/Pretendard/Pretendard-Bold.woff2);
}

@font-face {
  font-family: "pretendard";
  font-weight: 800;
  src: url(/font/Pretendard/Pretendard-ExtraBold.woff2);
}

@font-face {
  font-family: "pretendard";
  font-weight: 900;
  src: url(/font/Pretendard/Pretendard-Black.woff2);
}
