/* header */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(13, 19, 35, 0.2);
  backdrop-filter: blur(6px);
  z-index: 1;
}

.header:hover {
  background-color: #fff;
  border-bottom: 1px solid #d3d3d3;
}

.header:hover .main_logo {
  background: url("/img/header_blue_logo.svg") no-repeat;
  background-size: 158px;
}

.header:hover .depth_01 > a {
  color: #111;
}

.header:hover .header_right > svg {
  fill: #111;
}

.bg {
  display: none;
  position: absolute;
  top: 91px;
  width: 100%;
  height: 280px;
  background: #fff;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.25);
}

.header.hover .bg {
  display: block;
}

.header_wrap {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 0px 100px 0px 100px;
}

.header_img_wrap {
  position: absolute;
  top: 33px;
  right: 100px;
}

.header_img_wrap > video {
  object-fit: cover;
  border-radius: 10px;
  border: 1px solid #d3d3d3;
}

.header_img_txt_wrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10px;
}

.header_img_txt_wrap:hover {
  cursor: pointer;
}

.header_img_txt_wrap > p {
  font-size: 0.875rem;
  color: #111;
  font-weight: 500;
}

.header_img_txt_wrap > p:hover {
  color: #107bde;
  text-decoration: underline;
}

.header_img_txt_wrap > svg {
  margin-left: 5px;
}

.logo_menu_wrap {
  display: flex;
  gap: 164px;
  align-items: center;
}

.main_logo {
  width: 158px;
  height: 46px;
  display: block;
  background: url("/img/main_wh_logo.svg") no-repeat;
}

.menu_wrap {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
}

.depth_01 {
  position: relative;
  justify-content: center;
  width: 200px;
  text-align: center;
}

.menu_wrap .depth_01 > a:hover {
  color: #0b2d65;
  cursor: pointer;
}

.depth_01 > a {
  text-decoration: none;
  width: 100%;
  color: #111;
  position: relative;
  display: inline-block;
  transition: color 0.3s ease;
  padding: 33px 0px 33px 0px;
}

/* hover 상태에서 밑줄 표시 start*/
/* 밑줄 효과 - 기본 상태 */
.depth_01 > a::after {
  content: "";
  /* 가상 요소 */
  position: absolute;
  bottom: 0px;
  /* 텍스트 아래 위치 */
  left: 50%;
  /* 가운데에서 시작 */
  width: 0;
  /* 초기 너비 */
  height: 5px;
  /* 밑줄 두께 */
  background-color: #107bde;
  /* 밑줄 색상 */
  transition: width 0.3s ease, left 0.3s ease;
  /* 부드러운 애니메이션 */
  transform: translateX(0);
  /* 중앙 정렬 */
}

/* hover 시 밑줄 확장 */
.depth_01 > a:hover::after {
  width: 100%;
  /* 전체 너비로 확장 */
  left: 0;
  /* 시작점 왼쪽으로 이동 */
}
/* hover 상태에서 밑줄 표시 end*/

.menu_wrap > li > a {
  color: #fff;
  font-weight: 700;
  font-size: 1.25rem;
}

.header_right {
  display: flex;
  align-items: center;
  gap: 30px;
  width: 174px;
  height: 39px;
}

.header_right > button {
  all: unset;
  appearance: none;
  /* 브라우저 기본 스타일 제거 */
  -webkit-appearance: none;
  /* Safari 지원 */
}

.header_right > .contect_btn > a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.button_01 {
  text-align: center;
  cursor: pointer;
}

.contect_btn {
  width: 110px;
  font-size: 1rem;
  font-weight: 700;
  color: #fff;
  cursor: pointer;
  height: 39px;
  line-height: 40px;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  border-radius: 30px;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.contect_btn:hover {
  background-position: 100% 0;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.contect_btn:focus {
  outline: none;
}

.contect_btn {
  background-image: linear-gradient(
    to right,
    #009f62,
    #027fc4,
    #5bf19a,
    #3bb4ec
  );
}

.contect_btn > a {
  color: #fff;
}

.header_right > svg {
  cursor: pointer;
}
/* //header */

/* depth_02 menu */
.sb_menu {
  display: none;
  position: absolute;
  top: 100%;
  width: 200px;
  height: 280px;
  padding: 40px 20px;
  border-left: 1px solid #d3d3d3;
}

.header.hover .sb_menu {
  display: block;
}

.sb_menu > li {
  display: flex;
  width: 100%;
  margin-bottom: 20px;
}

.sb_menu > li > a:hover {
  color: #107bde;
}

.sb_menu > li > a {
  font-size: 1rem;
  font-weight: 500;
  color: #111;
}

.last_sb {
  border-right: 1px solid #d3d3d3;
}
/* //depth_02 menu */
.mobile_all_menu {
  display: none;
  padding-top:90px
}

.mobile_all_menu_show {
  display: block;
}



/* header 반응형 */
@media screen and (min-width: 1600px) and (max-width: 1879px) {
  .header_img_wrap {
    display: none;
  }

  .header_img_wrap > video {
    display: none;
  }

  .header_img_txt_wrap {
    display: none;
  }

  .header_img_txt_wrap:hover {
    display: none;
  }

  .header_img_txt_wrap > p {
    display: none;
  }

  .header_img_txt_wrap > p:hover {
    display: none;
  }

  .header_img_txt_wrap > svg {
    display: none;
  }
}

@media screen and (min-width: 1350px) and (max-width: 1599px) {
  .bg {
    display: none;
    position: absolute;
    top: 91px;
    width: 100%;
    height: 280px;
    background: #fff;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.25);
  }

  .header_wrap {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 0px 50px 0px 50px;
  }

  .header_img_wrap {
    display: none;
  }

  .header_img_wrap > video {
    display: none;
  }

  .header_img_txt_wrap {
    display: none;
  }

  .header_img_txt_wrap:hover {
    display: none;
  }

  .header_img_txt_wrap > p {
    display: none;
  }

  .header_img_txt_wrap > p:hover {
    display: none;
  }

  .header_img_txt_wrap > svg {
    display: none;
  }

  .main_logo {
    width: 158px;
    height: 46px;
    scale: 0.85;
    display: block;
    background: url("/img/main_wh_logo.svg") no-repeat;
  }

  .depth_01 {
    position: relative;
    justify-content: center;
    width: 186px;
    text-align: center;
  }

  .depth_01 > a {
    text-decoration: none;
    width: 100%;
    color: #111;
    position: relative;
    display: inline-block;
    transition: color 0.3s ease;
    padding: 34px 0px 35px 0px;
  }

  .menu_wrap > li > a {
    color: #fff;
    font-weight: 700;
    font-size: 1.125rem;
  }

  .header_right {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 174px;
  }

  .header_right > .contect_btn > a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  .all_menu_icon {
    scale: 0.8;
  }
  /* //header */

  /* depth_02 menu */
  .sb_menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 186px;
    height: 280px;
    padding: 40px 20px;
    border-left: 1px solid #d3d3d3;
  }
  /* //depth_02 menu */
}

@media screen and (min-width: 500px) and (max-width: 1349px) {
  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
    backdrop-filter: none;
    z-index: 1;
    border-bottom: 1px solid #d3d3d3;
  }

  .bg {
    display: none;
  }

  .header_wrap {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 12px 50px 12px 50px;
  }

  .header_img_wrap {
    display: none;
  }

  .header_img_wrap > video {
    display: none;
  }

  .header_img_txt_wrap {
    display: none;
  }

  .header_img_txt_wrap:hover {
    display: none;
  }

  .header_img_txt_wrap > p {
    display: none;
  }

  .header_img_txt_wrap > p:hover {
    display: none;
  }

  .header_img_txt_wrap > svg {
    display: none;
  }

  .main_logo {
    width: 158px;
    height: 46px;
    scale: 0.85;
    display: block;
    background: url("/img/header_blue_logo.svg") no-repeat;
  }

  .depth_01 {
    display: none;
  }

  .depth_01 > a {
    display: none;
  }

  .menu_wrap > li > a {
    display: none;
  }

  .header_right {
    display: flex;
    align-items: center;
    gap: none;
    width: 24px;
  }

  .header_right > .contect_btn > a {
    display: none;
  }

  .header_right > button {
    display: none;
  }

  .header_right > .contect_btn > a {
    display: none;
  }

  .button_01 {
    display: none;
  }

  .contect_btn {
    display: none;
  }

  .contect_btn:hover {
    display: none;
  }

  .contect_btn:focus {
    display: none;
  }

  .contect_btn {
    display: none;
  }

  .contect_btn > a {
    display: none;
  }

  .header_right > svg {
    fill: #111;
    cursor: pointer;
  }
  /* //header */

  /* depth_02 menu */
  .sb_menu {
    display: none;
  }
  .header.hover .sb_menu {
    display: none;
  }
  .sb_menu > li {
    display: none;
  }

  .sb_menu > li > a:hover {
    display: none;
  }

  .sb_menu > li > a {
    display: none;
  }

  .last_sb {
    display: none;
  }
  /* //depth_02 menu */
}

@media screen and (max-width: 499px) {
  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
    backdrop-filter: none;
    z-index: 1;
    border-bottom: 1px solid #d3d3d3;
  }

  .header:hover {
    display: none;
  }

  .bg {
    display: none;
  }

  .header_wrap {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 5px 20px 5px 20px;
  }

  .header_img_wrap {
    display: none;
  }

  .header_img_wrap > video {
    display: none;
  }

  .header_img_txt_wrap {
    display: none;
  }

  .header_img_txt_wrap:hover {
    display: none;
  }

  .header_img_txt_wrap > p {
    display: none;
  }

  .header_img_txt_wrap > p:hover {
    display: none;
  }

  .header_img_txt_wrap > svg {
    display: none;
  }

  .main_logo {
    width: 109px;
    height: 32px;
    display: block;
    background: url("/img/header_blue_logo_mo.svg") no-repeat;
  }

  .depth_01 {
    display: none;
  }

  .depth_01 > a {
    display: none;
  }

  .menu_wrap > li > a {
    display: none;
  }

  .header_right {
    display: flex;
    align-items: center;
    gap: none;
    width: 24px;
  }

  .header_right > .contect_btn > a {
    display: none;
  }

  .header_right > button {
    display: none;
  }

  .header_right > .contect_btn > a {
    display: none;
  }

  .button_01 {
    display: none;
  }

  .contect_btn {
    display: none;
  }

  .contect_btn:hover {
    display: none;
  }

  .contect_btn:focus {
    display: none;
  }

  .contect_btn {
    display: none;
  }

  .contect_btn > a {
    display: none;
  }

  .header_right > svg {
    fill: #111;
    cursor: pointer;
  }
  /* //header */

  /* depth_02 menu */
  .sb_menu {
    display: none;
  }
  .header.hover .sb_menu {
    display: none;
  }
  .sb_menu > li {
    display: none;
  }

  .sb_menu > li > a:hover {
    display: none;
  }

  .sb_menu > li > a {
    display: none;
  }

  .last_sb {
    display: none;
  }
  /* //depth_02 menu */
}
/* //header 반응형 */
