
/* header */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(13, 19, 35, 0.2);
    backdrop-filter: blur(6px);
    z-index: 1;
  }
  
  .header:hover {
    height: 90px;
    background-color: #fff;
    border-bottom: 1px solid #d3d3d3;
  }
  
  .header:hover .main_logo {
    background: url("/img/header_blue_logo.svg") no-repeat;
    background-size: 158px;
  }
  
  .header:hover .depth_01 > a {
    color: #111;
  }
  
  .header:hover .site_map_btn {
    background: url("/img/icon_black_site_map.svg") no-repeat;
  }
  
  .bg {
    display: none;
    position: absolute;
    top: 90px;
    width: 100%;
    height: 280px;
    background: #fff;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.25);
  }
  
  .header.hover .bg {
    display: block;
  }
  
  .header_wrap {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 0px 100px 0px 100px;
  }
  
  .header_img_wrap {
    position: absolute;
    top: 33px;
    right: 100px;
  }
  
  .header_img_wrap > video {
    object-fit: cover;
    border-radius: 10px;
    border: 1px solid #d3d3d3;
  }
  
  .header_img_txt_wrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;
  }
  
  .header_img_txt_wrap:hover {
    cursor: pointer;
  }
  
  .header_img_txt_wrap > a {
    font-size: 0.875rem;
    color: #111;
    font-weight: 500;
  }
  
  .header_img_txt_wrap > a:hover {
    color: #107bde;
    text-decoration: underline;
  }
  
  .header_img_txt_wrap > img {
    width: 16px;
    height: 16px;
    margin-left: 5px;
  }
  
  .logo_menu_wrap {
    display: flex;
    gap: 164px;
    align-items: center;
  }
  
  .main_logo {
    width: 202px;
    height: 46px;
    display: block;
    background: url("/img/main_wh_logo.svg") no-repeat;
    background-size: 158px;
  }
  
  .menu_wrap {
    display: flex;
    align-items: center;
    width: 100%;
  }
  
  .depth_01 {
    position: relative;
    justify-content: center;
    width: 200px;
    text-align: center;
  }
  
  .menu_wrap .depth_01 > a:hover {
    color: #0b2d65;
    cursor: pointer;
  }
  
  .depth_01 > a {
    text-decoration: none;
    color: #111;
    position: relative;
    display: inline-block;
    transition: color 0.3s ease;
    padding: 33px 0px 33px 0px;
  }
  
  /* 기본 상태에서는 아이콘 숨김 */
  .depth_01 a::after {
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: transparent;
    margin-left: 5px;
    margin-bottom: 13px;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  /* hover 상태에서 동그라미 표시 */
  .depth_01 > a:hover::after {
    background-color: #107bde;
  }
  
  .depth_01 > a:hover {
    color: #107bde;
  }
  
  .menu_wrap > li > a {
    color: #fff;
    font-weight: 700;
    font-size: 1.25rem;
  }
  
  /* depth_02 menu */
  
  .sb_menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 200px;
    height: 280px;
    padding: 40px 20px;
    border-left: 1px solid #d3d3d3;
  }
  
  .header.hover .sb_menu {
    display: block;
  }
  
  .sb_menu > li {
    display: flex;
    width: 100%;
    margin-bottom: 20px;
  }
  
  .sb_menu > li > a:hover {
    color: #107bde;
  }
  
  .sb_menu > li > a {
    font-size: 1rem;
    font-weight: 600;
    color: #111;
  }
  
  .last_sb {
    border-right: 1px solid #d3d3d3;
  }
  
  /* //depth_02 menu */
  
  .header_right {
    display: flex;
    align-items: center;
    gap: 30px;
    width: 164px;
    height: 39px;
  }
  
  .header_right > button {
    all: unset;
    appearance: none;
    /* 브라우저 기본 스타일 제거 */
    -webkit-appearance: none;
    /* Safari 지원 */
  }
  
  .header_right > .contect_btn > a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  
  /* * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  } */
  
  .button_01 {
    text-align: center;
    cursor: pointer;
  }
  
  .contect_btn {
    width: 110px;
    font-size: 1rem;
    font-weight: 700;
    color: #fff;
    cursor: pointer;
    height: 39px;
    line-height: 40px;
    text-align: center;
    border: none;
    background-size: 300% 100%;
    border-radius: 30px;
    /* moz-transition: all .4s ease-in-out; */
    -o-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }
  
  .contect_btn:hover {
    background-position: 100% 0;
    /* moz-transition: all .4s ease-in-out; */
    -o-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }
  
  .contect_btn:focus {
    outline: none;
  }
  
  .contect_btn {
    background-image: linear-gradient(
      to right,
      #009f62,
      #027fc4,
      #5bf19a,
      #3bb4ec
    );
  }
  
  .site_map_btn {
    width: 24px;
    height: 24px;
    display: block;
    background: url("/img/icon_wh_site_map.svg") no-repeat;
  }
  
  /* 전체메뉴 사이트맵 start */
  .all_menu {
    display: flex;
    flex-direction: row;
    position: absolute;
    z-index: 9999;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 100%;
    color: white;
    font-size: 34px;
    transition: left 0.5s ease;
  }
  
  .all_menu_show {
    left: 0;
  }
  
  /* 전체메뉴 사이트맵의 left information start */
  .left_all_menu_wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 80px 80px;
    background-image: url(/img/all_menu_left_bg.png);
  }
  
  .top_txt_con {
    display: flex;
    flex-direction: column;
    gap: 3px;
  }
  
  .top_txt_con > h1 {
    font-size: 2.688rem;
    font-weight: 700;
    color: #fff;
  }
  
  .top_txt_con > p {
    font-size: 1.125rem;
    color: #fff;
  }
  
  .bottom_txt_con {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  
  .bottom_txt_con > img {
    width: 180px;
    height: 54px;
  }
  
  .call_info_con {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
    height: 151px;
  }
  
  .call_info {
    display: flex;
    gap: 30px;
  }
  
  .call_info > span {
    width: 60px;
    font-size: 1.125rem;
    font-weight: 700;
    color: #fff;
  }
  
  .call_info > p {
    width: 296px;
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 130%;
    color: #fff;
  }
  
  /* right menu start */
  .right_all_menu_wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    padding: 80px 112px 80px 112px;
    background-color: #fff;
  }
  
  .close_all_menu > img {
    width: 60px;
    height: 60px;
    fill: #111;
  }
  
  .close_all_menu > img:hover {
    cursor: pointer;
    fill: #0071c6;
  }
  
  .all_menu_depth_wrap {
    display: flex;
    flex-direction: column;
    width: 1150px;
  }
  
  .all_menu_depth_01 {
    display: flex;
    align-items: center;
    gap: 100px;
    width: 100%;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px solid #d3d3d3;
  }
  
  .all_menu_depth_01 > a {
    width: 110px;
    font-size: 1.375rem;
    font-weight: 700;
    color: #111;
  }
  
  .all_menu_depth_02_wrap {
    display: flex;
    align-items: center;
    gap: 20px;
    max-width: 940px;
    height: 100%;
  }
  
  .all_menu_depth_02_wrap > li {
    display: flex;
    align-items: center;
  }
  
  .circle {
    width: 5px;
    height: 5px;
    border-radius: 10px;
    background-color: #d3d3d3;
  }
  
  .all_menu_depth_02_wrap > li > a {
    font-size: 1.25rem;
    font-weight: 500;
    color: #111;
  }
  
  .all_menu_depth_02_wrap > li > a:hover {
    color: #0071c6;
  }
  
  .all_menu_depth_02_wrap > li > a:hover .all_menu_depth_01 {
    border-bottom: 1px solid #0071c6;
  }
  
  /* 전체메뉴 사이트맵 end */
  /* //header */
  
  
  
  /* //footer */
  
  /* header 반응형 */
  @media (min-width: 1820px) {
    /* .logo_menu_wrap {
      display: flex;
      width: 100%;
      gap: 10%;
      align-items: center;
    } */
  }
  
  @media (min-width: 1770px) and (max-width: 1819px) {
    /* .logo_menu_wrap {
      display: flex;
      gap: 130px;
      align-items: center;
    } */
  }
  
  @media (min-width: 1710px) and (max-width: 1769px) {
    /* .logo_menu_wrap {
      display: flex;
      gap: 100px;
      align-items: center;
    } */
  }
  
  @media (min-width: 1650px) and (max-width: 1709px) {
    /* .logo_menu_wrap {
      display: flex;
      gap: 80px;
      align-items: center;
    } */
  }
  
  @media (min-width: 1595px) and (max-width: 1649px) {
    /* .header {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      padding: 22px 80px;
      background: rgba(13, 19, 35, 0.2);
      backdrop-filter: blur(6px);
    }
  
    .logo_menu_wrap {
      display: flex;
      gap: 40px;
      align-items: center;
    } */
  }
  
  @media (min-width: 1520px) and (max-width: 1594px) {
    /* .header {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      padding: 22px 50px;
      background: rgba(13, 19, 35, 0.2);
      backdrop-filter: blur(6px);
    }
  
    .logo_menu_wrap {
      display: flex;
      gap: 60px;
      align-items: center;
    } */
  }
  
  @media (min-width: 1480px) and (max-width: 1519px) {
    /* .header {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      padding: 22px 50px;
      background: rgba(13, 19, 35, 0.2);
      backdrop-filter: blur(6px);
    }
  
    .logo_menu_wrap {
      display: flex;
      gap: 40px;
      align-items: center;
    } */
  }
  
  @media (min-width: 1330px) and (max-width: 1479px) {
    /* .header {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      padding: 22px 50px;
      background: rgba(13, 19, 35, 0.2);
      backdrop-filter: blur(6px);
    }
  
    .logo_menu_wrap {
      display: flex;
      gap: 0px;
      align-items: center;
    }
  
    .menu_wrap > li {
      display: flex;
      justify-content: center;
      width: 184px;
    } */
  }
  
  @media (min-width: 780px) and (max-width: 1329px) {
    /* .header {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      padding: 22px 50px;
      background: #fff;
      backdrop-filter: none;
      border-bottom: 1px solid #d3d3d3;
    }
  
    .header:hover {
      display: none;
    }
  
    .header:hover .main_logo {
      display: none;
    }
  
    .logo_menu_wrap {
      display: flex;
      gap: 0;
      align-items: center;
    }
  
    .main_logo {
      width: 158px;
      height: 46px;
      display: block;
      background: url("/public/img/header_blue_logo.svg") no-repeat;
    }
  
    .menu_wrap {
      display: none;
    }
  
    .header_right {
      display: flex;
      align-items: center;
      gap: 0px;
      width: 24px;
      height: 24px;
    }
  
    .contect_btn {
      display: none;
    }
  
    .site_map_btn {
      width: 24px;
      height: 24px;
      display: block;
      background: url("/img/icon_black_site_map.svg") no-repeat;
    } */
  }
  
  @media (min-width: 280px) and (max-width: 780px) {
    /* .header {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      padding: 8px 20px 10px 20px;
      background: #fff;
      backdrop-filter: none;
      border-bottom: 1px solid #d3d3d3;
    }
  
    .header:hover {
      display: none;
    }
  
    .header:hover .main_logo {
      display: none;
    }
  
    .logo_menu_wrap {
      display: flex;
      gap: 0;
      align-items: center;
    }
  
    .main_logo {
      width: 108.5px;
      height: 31px;
      display: block;
      background: url("/img/header_blue_logo_mo.svg") no-repeat;
    }
  
    .menu_wrap {
      display: none;
    }
  
    .header_right {
      display: flex;
      align-items: center;
      gap: 0px;
      width: 16px;
      height: 16px;
    }
  
    .contect_btn {
      display: none;
    }
  
    .site_map_btn {
      width: 16px;
      height: 16px;
      display: block;
      background: url("/img/icon_black_site_map_mo.svg") no-repeat;
    } */
  }
  
  /* //header 반응형 */
  