/* 바로가기 skip navi */
.skip_navi {
  position: absolute;
  left: -1000px;
  /* 화면에서 벗어나게 만듦듦 */
  top: -1000px;
}

.skip_navi a {
  display: block;
  overflow: hidden;
  height: auto;
  left: 0;
  font-size: 16px;
  font-weight: 600;
  color: #111;
  line-height: 40px;
  text-align: center;
  background-color: #f2f2f2;
  border-bottom: 2px solid #111;
  visibility: hidden;
}

.skip_navi a:focus {
  position: static;
  /* 포커스 상태에서 보이도록 만듦 */
  top: 0;
  left: 0;
  background: #000;
  /* 배경색 추가 */
  color: #fff;
  /* 글자색 추가 */
  padding: 10px;
  text-decoration: none;
  z-index: 1000;
  /* 다른 요소 위로 오도록 설정 */
}

/* //바로가기 skip navi */
